@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root{
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  height: 100%;
  width: 100%;

  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dark {
  height: auto;
  
  background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%)
}

a:hover .color{
  color: #1F2937;
  transition: color 300ms ease-in-out;
}

.imgShadow {
  filter: drop-shadow(0 0 0.40rem white);
}

.text::after{
  content: "_";
  animation: titilar 2s infinite;
}

@keyframes titilar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}